
<table class="table">
    <th scope="col"ead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Imagen</th>
            <th scope="col">Nombre </th>
            <th scope="col">Precio</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Categoria</th>
            <th scope="col">Acciones</th>
        </tr>
    </th>

    <tbody>
        <tr *ngFor="let producto of coleccionProducto">
            <th scope="row">1</th>

            <td>
                <img src="{{producto.imagen}}" alt="{{producto.alt}}" width="200px">
            </td>
            <td>{{producto.nombre}}</td>
            <td>{{producto.precio}}</td>
            <td>{{producto.descripcion}}</td>
            <td>{{producto.categoria}}</td>

            <!--ACCIONES-->
            <td>
                <button id="bnt-edit" title="Editar" type="button" class="bnt bnt-outline-warning" data-bs-toggle="modal" data-bs-target="#editarProducto">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
            <td>
                <button id="bnt-delete" title="Eliminar" type="button" class="bnt bnt-outline-danger" data-bs-toggle="modal"
                data-bs-target="#eliminarProducto" (click)="mostrarBorrar(producto)">
                    <mat-icon>delate</mat-icon>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    agregar Producto
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div [formGroup]="producto" class="modal-body">
            <div class="mb-3">
                <label class="form-label">Ingrese el nombre del producto:</label>
                <input class="form-control" type="text" formControlName="nombre" placeholder="Ej.: Medias de chanchitos">
            </div>

            <div class="mb-3">
                <label class="form-label">Ingrese descripción del producto:</label>
                <input class="form-control" type="text" formControlName="descripcion" placeholder="Ej.: Medias hechas de  algodón">
            </div>

            <div class="mb-3">
                <label class="form-label">Ingrese el precio:</label>
                <input class="form-control" type="number" formControlName="precio" placeholder="...">
            </div>

            <div class="mb-3">
                <label class="form-label">Seleccione una categoría:</label>
                <select class="form-control form-select" formControlName="categoria">
                    <option selected>Elija una opción</option>
                    <option value="alimentacion">Alimentación</option>
                    <option value="indumentaria">Indumentaria</option>
                    <option value="juguetes">Juguete</option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Ingrese una imagen:</label>
                <input class="form-control" type="text" formControlName="imagen" placeholder="Ingrese vínculo de una imagen">
            </div>

            <div class="mb-3">
                <label class="form-label">Ingrese texto alternativo:</label>
                <input class="form-control" type="text" formControlName="alt" placeholder="Ingrese un texto alternativo">
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn bnt-outline-success" data-bs-dismiss="modal" (click)="agregarProducto()">Guardar</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          
        </div>
      </div>
    </div>
  </div>



  <div class="modal fade" *ngIf="modalVicubleProducto" id="eliminarProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">¿estas seguro de eliminar este producto?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {{productoSeleccionado.nombre}}
          <img src="{{productoSeleccionado.imagen}}" alt="{{productoSeleccionado.alt}}">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn bnt-outline-danger" data-bs-dismiss="modal" (click)="borrarProducto()">Eliminar</button>
          <button type="button" class="btn bnt-outline-warning" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>