<header class="header" >
  <div class="menu conteiner">
    <a href="#" class="logo">logo</a>
    <input type="checkbox" id="menu" />
    <label for="menu">
      <img src="/assets/foto-de-perfil.jpg" class="menu-icono" alt="">
    </label>

    <nav class="navbar">
      <ul>
        <li>
          <a href="#">steam</a>
        </li>
        <li>
          <a href="#">epic games</a>
        </li>
        <li>
          <a href="#">enaba</a>
        </li>
        <li>
          <a href="#">instant gaming</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="header-content conteiner">
    <h1>video games</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
      Dolor accusamus impedit ullam optio facilis sint eaque vero nesciunt, 
      sapiente eligendi reiciendis quasi ut, 
      suscipit assumenda mollitia, quidem quod odit ipsa!
    </p>
    <a href="#" class="btn-1">infomacion de precios</a>
  </div>
</header>
<section class="video-games">

  <img class="video-img" src="/./src/assets/pngegg.png" alt="">

  <div class="video-games-content">
    <h2>diferentes meradaos de jugos digitales</h2>
    <p class="txt-parafo">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
      Facere autem expedita, eveniet dolor qui adipisci quae dolorem ullam sunt architecto est consectetur nihil in provident sit,
       mollitia cumque illum. Aliquam.
    </p>
    <div class="video-group">
      <div class="video-1">
        <img src="https://assetsio.gnwcdn.com/steam-logo_pAVUl5r.png?width=1920&height=1920&fit=bounds&quality=80&format=jpg&auto=webp" alt="">
        <h3>lore de steam</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Ad facilis ab necessitatibus voluptates placeat laboriosam hic autem commodi? 
          Possimus eveniet nemo eligendi placeat quaerat hic voluptas est repellendus, itaque recusandae?
        </p>
      </div>
      <div class="video-1">
        <img src="https://cdn2.unrealengine.com/egs-brand-gradient-1920x1080-fee5291b4190.jpg" alt="">
        <h3>lore de epic games</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Ad facilis ab necessitatibus voluptates placeat laboriosam hic autem commodi? 
          Possimus eveniet nemo eligendi placeat quaerat hic voluptas est repellendus, itaque recusandae?
        </p>
      </div>
      <div class="video-1">
        <img src="https://cdn.prod.website-files.com/62c47c413889de6ddce2b103/6584c4680a0807a9a546261a_64c3b026c8b5a5a8b3ba44af_logo.png" alt="">
        <h3>lore de enaba</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Ad facilis ab necessitatibus voluptates placeat laboriosam hic autem commodi? 
          Possimus eveniet nemo eligendi placeat quaerat hic voluptas est repellendus, itaque recusandae?
        </p>
      </div>
      <div class="video-1">
        <img src="https://www.somosxbox.com/wp-content/uploads/2020/06/Instant-Gaming.jpg" alt="">
        <h3>lore de instant gaming</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Ad facilis ab necessitatibus voluptates placeat laboriosam hic autem commodi? 
          Possimus eveniet nemo eligendi placeat quaerat hic voluptas est repellendus, itaque recusandae?
        </p>
      </div>
    </div>
    <a href="#">informacion</a>
  </div>

</section>

<main class="servicios">
  <div class="servicios-content conteiner">
    <h2>servicios de video games</h2>

    <div class="servicios-group">
      <img src="" alt="">
      <h3>servicios steam</h3>
    </div>
    <div class="servicios-group">
      <img src="" alt="">
      <h3>servicios steam</h3>
    </div>
    <div class="servicios-group">
      <img src="" alt="">
      <h3>servicios steam</h3>
    </div>
    <div class="servicios-group">
      <img src="" alt="">
      <h3>servicios steam</h3>
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Aut laborum sit officiis, eveniet aliquam explicabo magni optio dolorem. 
      Inventore ipsam tenetur exercitationem a doloremque quibusdam incidunt architecto ducimus consequatur eveniet!
    </p>
    <a href="#" class="btn-1">informacion</a>
  </div>
</main>

<section class="General">
  <div class="General-1">
    <h3>general de video games</h3>
    <p>

    </p>
    <a href="#"></a>
  </div>
  <div class="General-2"></div>
</section>

<section class="General">

  <div class="General-3"></div>
  
  <div class="General-1">
    <h3>general de video games</h3>
    <p>

    </p>
    <a href="#"></a>
  </div>
  
</section>

<section class="blog conteiner">
  <h3>blog</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos repellat quia ut, 
    temporibus fuga asperiores praesentium! 
    Cum consequuntur dicta maiores beatae vel eum ab est quisquam explicabo quaerat, placeat dolore!
  </p>

  <div class="blog-content">
    <div class="blog-1">
      <img src="" alt="">
      <h2>blog de reseñas de steam</h2>
      <p>

      </p>
    </div>
    <div class="blog-1">
      <img src="" alt="">
      <h2>blog de reseñas de epic games</h2>
      <p>

      </p>
    </div>
    <div class="blog-1">
      <img src="" alt="">
      <h2>blog de reseñas de eneba</h2>
      <p>

      </p>
    </div>
    <div class="blog-1">
      <img src="" alt="">
      <h2>blog de reseñas de insta gaming</h2>
      <p>

      </p>
    </div>
    <a href="#" class="btn-1">informacion</a>

  </div>
</section>

<footer class="footer">
  <div class="footer-content conteiner">
    <div class="lick">
      <h3>lore</h3>
      <ul>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ul>
    </div>
    <div class="lick">
      <h3>lore</h3>
      <ul>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ul>
    </div>
    <div class="lick">
      <h3>lore</h3>
      <ul>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ul>
    </div>
    <div class="lick">
      <h3>lore</h3>
      <ul>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ul>
    </div>
  </div>
</footer>
