@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Pixelify+Sans:wght@400..700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


.body{
      .libre-baskerville-regular {
        font-family: "Libre Baskerville", serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .libre-baskerville-bold {
        font-family: "Libre Baskerville", serif;
        font-weight: 700;
        font-style: normal;
      }
      
      .libre-baskerville-regular-italic {
        font-family: "Libre Baskerville", serif;
        font-weight: 400;
        font-style: italic;
      }
}
  
.conteiner{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
        ), url('/assets/get-in-the-robot.jpg')      
}
.menu{
    position: absolute;
    top: 1;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    color: darkgray;
    font-size: 25px;
    font-weight: 700;
}
.menu .nabar ul il {
    position: relative;
    float: left;
}

.menu .navbar ul il a{
    font-size: 18px;
    padding: 20px;
    color: #a9a9a9;
    display: block;
    font-weight: 700;
}

.menu .navbar ul il a:hover{
    color: #ce967b;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}
.header-content{
    text-align: center;
}
.header-content h1{
    font-size: 75px;
    line-height: 80px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.header-content p{
    font-size: 16px;
    color: #c5c5c5c5;
    padding: 0 250px;
    margin-bottom: 25px;
}

.btn-1{
    display: inline-block;
    padding: 11px 35px;
    background-color: #dd975e;
    color: #f9fafc;
    text-transform: uppercase;
}
.btn-1 hover{
    background-color: #dd975e;
}
.video-games{
    padding: 100px 0;
    background-color: rgba(176, 190, 202, 0.521);
    position: relative;
}

.video-games-content{
    text-align: center;
}

.video-games-content h2{
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}
.txt-parafo{
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
}
.video-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.video-1{
    padding: 0 25px;
}
.video-1 img{
    width: 200px;
}

.video-img{
    position: absolute;
    top: 0;
    right: 0;

}

.video-1 h3{
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;
    
}
.servicios{
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(/src/assets/wither.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;        
}
.servicios-content{
    text-align: center;
}