*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#contenItemsCarrusel{
    border: 5px solid rgb(0, 0, 0);
    height: 200px;
    overflow: hidden;
    
}

.itemCarrucel{
    position: relative;
    height: 200px
    
}

.tarjetasCarrucel{
    
    height: 100%;
    
}

.flechasCarrucel{
    position: absolute;
    justify-content: space-between;
    padding: 20px;
    align-items:center ;
    height: 100%;
    width: 100%;
    display: flex;
    top: 0 
    
}

#itemCarrucel-1{
    background-color: darkred ;
}

#itemCarrucel-2{
    background-color: darkblue;

}

#itemCarrucel-3{
    background-color: darkgreen;
}

a{
    text-decoration: none;
}