*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#contenItemsCarrusel{
   
    height: 250px;
    overflow: hidden;
    
}

.itemCarrucel{
    position: relative;
    height: 250px
    
}

.tarjetasCarrucel{
    
    height: 100%;
    
}

.flechasCarrucel{
    position: absolute;
    justify-content: space-between;
    padding: 20px;
    align-items:center ;
    height: 100%;
    width: 100%;
    display: flex;
    top: 0 
    
}

#itemCarrucel-1{
    background-color: darkred ;
}

#itemCarrucel-2{
    background-color: darkblue;

}

#itemCarrucel-3{
    background-color: darkgreen;
}

a{
    text-decoration: none;
}

i{
    color: orangered;
}
#contePuntos{
    display: flex;
    justify-content: space-around;
}

#contePuntos > a{
    font-size: 1.5em;
    font-size: none;
}

img{
    width: 100%;
    height: 100%;
}