
<div id="contenItemsCarrusel">
    <div class="itemCarrucel" id="itemCarrucel-1">
        <div class="tarjetasCarrucel" id="tarjetaCarrucel-1">
            <img src="https://store.ubisoft.com/on/demandware.static/-/Library-Sites-shared-library-web/default/dw1dd1844a/images/homepage/slot1/HomeHero_SWO_desk_nopin.jpg" alt="">
        </div>
        <div class="flechasCarrucel">
            <a href="#tarjetaCarrucel-3">
                <i class="fa-solid fa-arrow-left"></i>
            </a>
            <a href="#tarjetaCarrucel-2">
                <i class="fa-solid fa-arrow-right"></i>
            </a>
        </div>
    </div>
    <div class="itemCarrucel" id="itemCarrucel-2">
        <div class="tarjetasCarrucel" id="tarjetaCarrucel-2">
            <img src="https://binaryfortressdownloads.com/Download/WPF/Images/28239/WallpaperFusion-helldivers-2-banner-1680x480.jpg" alt="">
        </div>
        <div class="flechasCarrucel">
            <a href="#tarjetaCarrucel-1">
                <i class="fa-solid fa-arrow-left"></i>
            </a>
            <a href="#tarjetaCarrucel-3">
                <i class="fa-solid fa-arrow-right"></i>
            </a>
        </div>
    </div>
    <div class="itemCarrucel" id="itemCarrucel-3">
        <div class="tarjetasCarrucel" id="tarjetaCarrucel-3">
            <img src="https://www.amd.com/content/dam/amd/en/images/games/monster-hunter-world-iceborne/409717-monster-hunter-world-iceborne-banner.jpg" alt="">
        </div>
        <div class="flechasCarrucel">
            <a href="#tarjetaCarrucel-2">
                <i class="fa-solid fa-arrow-left"></i>
            </a>
            <a href="#tarjetaCarrucel-1">
                <i class="fa-solid fa-arrow-right"></i>
            </a>
        </div>
    </div>
</div>

<div id="contePuntos">
    <a href="#tarjetaCarrucel-1"><i class="fa-solid fa-otter"></i></a>
    <a href="#tarjetaCarrucel-2"><i class="fa-solid fa-otter"></i></a>
    <a href="#tarjetaCarrucel-3"><i class="fa-solid fa-otter"></i></a>
</div>

<app-card></app-card>
