<footer class="footer">
    <div class="container">
        <div class="footer-row">
            <div class="footer-links">
                <h4>empresas</h4>
                <ul>
                    <li><a href="#">Betesda</a></li>
                    <li><a href="#">Estudios Santamonica</a></li>
                    <li><a href="#">2K</a></li>
                    <li><a href="#">Konami</a></li>
                </ul>
            </div>
            <div class="footer-links">
                <h4>servicios de ayuda</h4>
                <ul>
                    <li><a href="#">Preguntas</a></li>
                    <li><a href="#">ayuda al cliente</a></li>
                    <li><a href="#">Politica de privacidad</a></li>
                    <li><a href="#">Consulta de errores</a></li>
                </ul>
            </div>
            <div class="footer-links">
                <h4>redes sociales</h4>
                <div class="redes-link">
                    <a href="#"><i class="fad fa-facebook-f"></i></a>
                    <a href="#"><i class="fad fa-instagram"></i></a>
                    <a href="#"><i class="fad fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>