
<mat-toolbar>
  <button id="menuSecciones" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" [matMenuTriggerFor]="secciones" >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #secciones="matMenu">
    <button mat-menu-item routerLink="/inicio">Inicio</button>
    <button mat-menu-item [matMenuTriggerFor]="producto">Productos</button>
  </mat-menu>
  <span>video tienda</span>

  <button class="ui-btn" routerLink="/inicio" id="menuInicio">
    <span>
      Inicio
    </span>
  </button>

  <!-- Menu desplegable: SECCIÓN DE PRODUCTOS -->
  <button id="menuProductos" mat-button [matMenuTriggerFor]="producto">Productos</button>
  <mat-menu #producto="matMenu">

    <ul class="ul">
      <li class="li">
        <button class="button" routerLink="/producto"><p class="p">General</p></button>
      </li>
      <li class="li">
        <button class="button" routerLink="/dlc"><p class="p">Dlc</p></button>
      </li>
      <li class="li">
        <button class="button"><p class="p" routerLink="/mercamsia">Mercaderia</p></button>
      </li>
      <li class="li">
        <button class="button"><p class="p" routerLink="/micropago">Micropago</p></button>
      </li>
    </ul>
      
  </mat-menu>

  <span class="example-spacer"></span>

  <!-- Inicio de sesión y formulario de registro -->
  <button mat-icon-button [matMenuTriggerFor]="usuario"><mat-icon>person</mat-icon></button>
  <mat-menu #usuario="matMenu">
      <button mat-menu-item (click)="iniciar()" *ngIf="logueado" routerLink="/registro">Registrarse</button>
      <button mat-menu-item (click)="iniciar()" *ngIf="logueado" routerLink="/inicio-sesion">Iniciar sesión</button>
      <button mat-menu-item (click)="cerrarSesion()" *ngIf="deslogiado">cerrar sesion</button>
  </mat-menu>

  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>shopping_cart</mat-icon>
  </button>

  <div class="toggle-switch">
    <label class="switch-label" for="toggle" id="label_toggle" >
      <input type="checkbox" class="checkbox" id="toggle" (click)="cambiarFondo()">
      <span class="slider"></span>
    </label>
  </div>  
  
</mat-toolbar>


