<div class="container">
    <div class="row">
        <h1>Inicio</h1>

        <div class="col">
            <div *ngFor="let i of info" class="contenido">
              <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>{{i.nombre}}</mat-card-title>
                  <mat-card-subtitle>{{i.anual}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{i.imagen}}" alt="{{i.alt}}"> 
                <mat-card-content>
                  <p>
                   
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  
                  <div class="item button-parrot" style="--bg-color: #2c3e50">
                  <button>Ver Aqui!
                    <div class="parrot"></div>
                    <div class="parrot"></div>
                    <div class="parrot"></div>
                    <div class="parrot"></div>
                    <div class="parrot"></div>
                    <div class="parrot"></div>
                  </button>
                  </div>
                </mat-card-actions>
              </mat-card>           
            </div>
        </div>
    </div>
</div>
